<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nthucs.prototype">

    <!-- 需要攝錄鏡頭設備 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 寫入外部儲存設備 -->
    <uses-permission android:name=
        "android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 讀取外部儲存設備 -->
    <uses-permission android:name=
        "android.permission.READ_EXTERNAL_STORAGE" />
    <!-- permission to access internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Activity.createKey"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name=".Activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.FoodActivity" >
            <intent-filter>
                // add food
                <action android:name="com.example.nthucs.prototype.ADD_FOOD" />
                // edit food
                <action android:name="com.example.nthucs.prototype.EDIT_FOOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.CameraActivity">
            <intent-filter>
                // take picture
                <action android:name="com.example.nthucs.prototype.TAKE_PICT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.GalleryActivity">
            <intent-filter>
                // take photo from gallery
                <action android:name="com.example.nthucs.prototype.TAKE_PHOTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.CalendarActivity">
            <intent-filter>
                // calendar view
                <action android:name="com.example.nthucs.prototype.CALENDAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>>

        <provider android:authorities="com.facebook.app.FacebookContentProvider1095415993853029"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <activity android:name=".Activity.SettingsActivity">
            <intent-filter>
                // settings view
                <action android:name="com.example.nthucs.prototype.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>>
        </activity>>

        <activity android:name=".Activity.MessageActivity"></activity>
        <activity android:name=".Activity.ChatRoomActivity"></activity>

    </application>

</manifest>
