<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nthucs.prototype"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <!-- 需要攝錄鏡頭設備 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 寫入外部儲存設備 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 讀取外部儲存設備 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- permission to access internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- permission to access GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.example.nthucs.prototype.Activity.createKey"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.nthucs.prototype.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.example.nthucs.prototype.Activity.LoginActivity" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.FoodActivity" >
            <intent-filter>
                // add food
                <action android:name="com.example.nthucs.prototype.ADD_FOOD" />
                // edit food
                <action android:name="com.example.nthucs.prototype.EDIT_FOOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.CameraActivity" >
            <intent-filter>
                // take picture
                <action android:name="com.example.nthucs.prototype.TAKE_PICT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.GalleryActivity" >
            <intent-filter>
                // take photo from gallery
                <action android:name="com.example.nthucs.prototype.TAKE_PHOTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                // calendar view
                <action android:name="com.example.nthucs.prototype.CALENDAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.NewCalendarActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                // calendar view
                <action android:name="com.example.nthucs.prototype.CALENDAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        >
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1095415993853029"
            android:exported="true" />

        <activity android:name="com.example.nthucs.prototype.Activity.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                // settings view
                <action android:name="com.example.nthucs.prototype.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        >
        <activity android:name="com.example.nthucs.prototype.Activity.MessageActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.MailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            </activity>
                <activity android:name="com.example.nthucs.prototype.Activity.ChatRoomActivity" />
                <activity android:name="com.example.nthucs.prototype.Activity.MyProfileActivity" >
            <intent-filter>

                <!--<category android:name="android.intent.category.LAUNCHER" />-->

                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.MyCurrentExerciseActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.MyWeightLossGoalActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.DisplayAsMetricImperialActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.WeightChartActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.CalorieConsumptionActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.MyFavouritesActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.MyBloodPressure"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.DrinkWaterDiary"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.MyTemperatureRecord"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.TestJsoup">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.SportActivity" >
            <intent-filter>
                // add sport
                <action android:name="com.example.nthucs.prototype.ADD_SPORT" />
                // edit sport
                <action android:name="com.example.nthucs.prototype.EDIT_SPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            >
        </activity>
        <activity android:name="com.example.nthucs.prototype.Activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/com_facebook_activity_theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" >
        </activity>
        <activity android:name="com.facebook.CustomTabMainActivity" />
        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d8374694cf0a3addb84233ea4443b20e673d62d2" />

        <activity android:name=".Activity.ChatBotActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>